ollama:
  gpu:
    # -- Enable GPU integration
    enabled: true

    # -- GPU type: 'nvidia' or 'amd'
    type: "nvidia"

    # -- Specify the number of GPU to 1
    number: 1

  # -- List of models to pull at container startup
  models:
    pull:
      - llama3

persistentVolume:
  enabled: true
  existingClaim: "ollama-pvc"
# nodeSelector:
#   kubernetes.io/hostname: k8s-node1
