deploymentStrategy:
  type: Recreate
persistence:
  enabled: false # using external mysql
  existingClaim: "grafana-pvc"
ingress:
  enabled: "true"
  annotations:
    kubernetes.io/ingress.class: nginx
    # nginx.ingress.kubernetes.io/auth-url: "https://oauth2.viktorbarzin.me/oauth2/auth"
    # nginx.ingress.kubernetes.io/auth-signin: "https://oauth2.viktorbarzin.me/oauth2/start?rd=/redirect/$http_host$escaped_request_uri"
    nginx.ingress.kubernetes.io/auth-url: "http://ak-outpost-authentik-embedded-outpost.authentik.svc.cluster.local:9000/outpost.goauthentik.io/auth/nginx"
    nginx.ingress.kubernetes.io/auth-signin: "https://authentik.viktorbarzin.me/outpost.goauthentik.io/start?rd=$scheme%3A%2F%2F$host$escaped_request_uri"
    nginx.ingress.kubernetes.io/auth-response-headers: "Set-Cookie,X-authentik-username,X-authentik-groups,X-authentik-email,X-authentik-name,X-authentik-uid"
    nginx.ingress.kubernetes.io/auth-snippet: "proxy_set_header X-Forwarded-Host $http_host;"
  tls:
    - secretName: "tls-secret"
      hosts:
        - "grafana.viktorbarzin.me"
  hosts:
    - "grafana.viktorbarzin.me"
sidecar:
  datasources:
    enabled: "true"
  dashboards:
    enabled: false
    # label: "grafana_dashboard"
    # folder: "/var/lib/grafana/dashboards"
dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    name: default
    ordId: 1
    # folder: ""
    type: "file"
    # disableDeletion: "false"
    # editable: "true"
    options:
      path: "/var/lib/grafana/dashboards/default"
env:
  GF_DATABASE_PASSWORD:  "${db_password}"
  GF_SERVER_ROOT_URL: https://grafana.viktorbarzin.me

grafana.ini:
  database:
    type: mysql
    host: mysql.dbaas.svc.cluster.local:3306
    name: grafana
    user: grafana
    password: $__env{GF_DATABASE_PASSWORD}
    ssl_mode: disable
  auth.anonymous:
    enabled: true
    org_role: Viewer
  # auth.google:
  #   enabled: true
  analytics:
    check_for_updates: "true"
  grafana_net:
    url: "https://grafana.net"
  log:
    mode: "console"
  paths:
    data: "/var/lib/grafana/data"
    logs: "/var/log/grafana"
    plugins: "/var/lib/grafana/plugins"
    provisioning: "/etc/grafana/provisioning"
  security:
    allow_embedding: true # Allow to be iframed

# url: https://grafana.com/api/dashboards/11074/revisions/2/download
# datasources:
#   - name: Prometheus
#     url: http://prometheus-server
