deploymentStrategy:
  type: RollingUpdate
replicas: 3
persistence:
  enabled: false # using external mysql
  existingClaim: "grafana-pvc"
ingress:
  enabled: "true"
  ingressClassName: "traefik"
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: "traefik-rate-limit@kubernetescrd,traefik-csp-headers@kubernetescrd,traefik-crowdsec@kubernetescrd,traefik-authentik-forward-auth@kubernetescrd"
    traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
  tls:
    - secretName: "tls-secret"
      hosts:
        - "grafana.viktorbarzin.me"
  hosts:
    - "grafana.viktorbarzin.me"
sidecar:
  datasources:
    enabled: "true"
  dashboards:
    enabled: true
    label: "grafana_dashboard"
dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    name: default
    ordId: 1
    # folder: ""
    type: "file"
    # disableDeletion: "false"
    # editable: "true"
    options:
      path: "/var/lib/grafana/dashboards/default"
env:
  GF_DATABASE_PASSWORD:  "${db_password}"
  GF_SERVER_ROOT_URL: https://grafana.viktorbarzin.me

grafana.ini:
  database:
    type: mysql
    host: mysql.dbaas.svc.cluster.local:3306
    name: grafana
    user: grafana
    password: $__env{GF_DATABASE_PASSWORD}
    ssl_mode: disable
  auth.anonymous:
    enabled: true
    org_role: Viewer
  # auth.google:
  #   enabled: true
  analytics:
    check_for_updates: "true"
  grafana_net:
    url: "https://grafana.net"
  log:
    mode: "console"
  paths:
    data: "/var/lib/grafana/data"
    logs: "/var/log/grafana"
    plugins: "/var/lib/grafana/plugins"
    provisioning: "/etc/grafana/provisioning"
  security:
    allow_embedding: true # Allow to be iframed

# url: https://grafana.com/api/dashboards/11074/revisions/2/download
# datasources:
#   - name: Prometheus
#     url: http://prometheus-server
